:root{
  --orange-dark: #FF5C4E;
  --orange: #FF994E;
  --orange-light: #FFB54E;
  --black: #4E4E4E;
  --gray00: #ACACAC;
  --gray01: #757575;
  --gray02: #A1A1A1;
  --gray03: #BEBEBE;
  --gray04: #D8D8D8;
  --gray05: #EFF0F3;
  --gray06: #FBFBFB;
  --blue: #4E9FFF;
}