html {
	font-size: 10px;
	font-family: Spoqa Han Sans Neo, Arial, sans-serif;
  color: var(--black);
}

body {
  margin: 0 auto;
  width:100%;
  height:100%;
}

.main-container {
  max-width: 1200px;
  width:96%;
  margin: 0 auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*
typo
*/

h1{
  font-size: 2.2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  line-height: 162.5%;
  word-break: break-all;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
}

input[type="text"],
input[type="url"] {
  font-family: Spoqa Han Sans Neo;
  font-size: 1.8rem;
}

textarea {
  font-family: Spoqa Han Sans Neo;
  font-size: 1.6rem;
  line-height: 162.5%;
  color: var(--black);
}

input::placeholder,
textarea::placeholder {
  color: var(--gray00);
}

@media (max-width: 768px) {
  h1{
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.4rem;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 142.8%;
  }
  
  label {
    font-size: 1.4rem;
  }
  
  input[type="text"],
  input[type="url"] {
    font-size: 1.4rem;
  }
  
  textarea {
    font-size: 1.4rem;
    line-height: 142.8%;
  }
}

/*
style
*/

h1 {
  margin-top: 19.2rem;
}

button {
  border: none;
  border-radius: 1rem;
}

button:hover{
  cursor: pointer;
}

input{
  width: 100%;
}

label {
  white-space: nowrap;
}

input:focus,
textarea:focus {
  outline: none; 
}

input[type="text"],
input[type="url"] {
  border: none;
}

textarea {
  padding: 2.6rem 3rem;
  border: .1rem solid var(--gray02);
  border-radius: 1rem;
  resize: none;
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    margin-top: 9.3rem;
  }
  
  textarea {
    padding: 2rem 1.6rem;
  }
}